body {
  margin: 0px;
  padding: 0px;
}

.background-container {
  width: 90%;
  max-width: 1400px;
  background-color: rgb(107, 129, 144);
  border-radius: 50px;
  margin: auto;
  margin-top: 15px;
  padding: 30px;
}
