body {
  margin: 0px;
  padding: 0px;
}

.background-container {
  width: 1200px;
  height: 800px;
  background-color: rgb(107, 129, 144);
  border-radius: 50px;
  margin: auto;
  margin-top: 50px;
  padding: 30px;
}
